
<ion-header>

  <ion-navbar>
    <ion-title>
      Tut: {{this.data.Tutno}} |
     Question:{{this.data.QuesNo}}
   </ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>

    <ion-item>
      <h2>
        Question: {{this.data.QuesNo}}
      </h2>
      <h2>
        Tutorial: {{this.data.Tutno}}
      </h2>
    </ion-item>

      <img src="{{  this.data.QuesUrl}}"/>

    <ion-card-content>
      <h2>Problem</h2>
      <p>{{this.data.Description}}</p>
      <h2>
        Working
      </h2>



    </ion-card-content>
    <img src="{{  this.data.WorkDataUrl1}}"/>
    <img src="{{  this.data.WorkDataUrl2}}"/>
    <img src="{{  this.data.WorkDataUrl3}}"/>
    <img src="{{  this.data.WorkDataUrl4}}"/>
    <img src="{{  this.data.WorkDataUrl5}}"/>
  </ion-card>



  <ion-card *ngFor = 'let Ans of Data '>


  <ion-card-content>
  <ion-note>
    Answered by: {{Ans.StudentNumber}}
  </ion-note>

  <h2>
    {{Ans.Ans}}
  </h2>
</ion-card-content>
  <button ion-button *ngIf ='Ans.StudentNumber == this.StudentNumber' color="danger" (click)="deleteQuestion()" >
  <ion-icon name="backspace" icon-end>  Delete</ion-icon>
 </button>

</ion-card>




</ion-content>

<ion-footer>
  <ion-toolbar>


    <ion-item>
      <textarea #myInput id="myInput" rows="1" maxLength="500" (keyup)="resize()" [(ngModel)]="myStuff"></textarea>
      <ion-icon item-end name="paper-plane" (click)="SendAns()"></ion-icon>
    </ion-item>




  </ion-toolbar>
</ion-footer>
