
<ion-header>

  <ion-navbar>
    <ion-title>
      Tut: {{this.question.Tutno}} |
     Question:{{this.question.QuesNo}}
   </ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>

    <ion-card-content>
      <h1>Question Picture:</h1>

<img style="width:45%; display: inline-block" src="{{  this.question.QuesUrl}}"/>

<img style="width:45%; display: inline-block;" src="{{  this.question.WorkDataUrl1}}"/>

<div class="spacer" style="width:300px;height:32px;" id="home-spacer2"></div>

    </ion-card-content>

    <h1>My issue: {{this.question.Description}}</h1>
  </ion-card>



  <ion-card *ngFor = 'let Ans of Data '>


  <ion-card-content>
  <ion-note>question
    Answered by: {{Ans.StudentNumber}}
  </ion-note>

  <h2>
    {{Ans.Ans}}
  </h2>
</ion-card-content>
  <button ion-button *ngIf ='Ans.StudentNumber == this.StudentNumber' color="danger" (click)="deleteQuestion()" >
  <ion-icon name="backspace" icon-end>  Delete</ion-icon>
 </button>

</ion-card>




</ion-content>

<ion-footer>
  <ion-toolbar>


    <ion-item>
      <textarea #myInput id="myInput" rows="1" maxLength="500" (keyup)="resize()" [(ngModel)]="myStuff"></textarea>
      <ion-icon item-end name="paper-plane" (click)="SendAns()"></ion-icon>
    </ion-item>




  </ion-toolbar>
</ion-footer>
